<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhouqing.EmoChat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.zhouqing.EmoChat.common.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zhouqing.EmoChat.splash.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhouqing.EmoChat.login.LoginActivity" />
        <activity android:name="com.zhouqing.EmoChat.register.RegisterActivity" />
        <activity android:name="com.zhouqing.EmoChat.main.MainActivity" />
        <activity
            android:name="com.zhouqing.EmoChat.chat.ChatActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name="com.zhouqing.EmoChat.chat.DetailActivity" />
        <activity android:name="com.zhouqing.EmoChat.setting.SettingActivity" />
        <activity android:name="com.zhouqing.EmoChat.addFriend.AddFriendActivity" />

        <service
            android:name="com.zhouqing.EmoChat.service.IMService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.zhouqing.EmoChat.provider.ContactProvider"
            android:authorities="com.zhouqing.EmoChat.provider.ContactProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="com.zhouqing.EmoChat.provider.SmsProvider"
            android:authorities="com.zhouqing.EmoChat.provider.SmsProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="com.zhouqing.EmoChat.provider.AccountProvider"
            android:authorities="com.zhouqing.EmoChat.provider.AccountProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.zhouqing.EmoChat.avatar.AvatarActivity" />
        <activity android:name="com.zhouqing.EmoChat.manage.ManageActivity" />
        <activity android:name="com.zhouqing.EmoChat.manage.InputEmotionActivity"></activity>
    </application>

</manifest>